.button, .button-inverse {
    min-width: 180px;
    font-weight: 600;
    height: var(--height-button);
    padding: 5px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: var(--border-radius-button);
    cursor: pointer;
}

.button-inverse {
    color: var(--main-blue);
    background-color: white;
    border: 2px solid var(--main-blue);
}

.button:not(.button-inverse) {
    color: white;
    background-color: var(--main-blue);
}