.button {
    font-size: 16px;
    min-width: 100px;
    font-weight: 600;
    height: 40px;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #2a2a67;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}