.scores-chart-wrapper {
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.9em;
    font-weight: 600;

    :first-child .bgg {
        border-radius: 0px 0 0 5px;
    }

    :last-child .bgg {
        border-radius: 0 0px 5px 0;
    }

    .scores-chart-wrapper_section {
        display: flex;
        flex-direction: column;
        min-width: max-content;
    }

    .correct-answers {
        padding: 2px 15px;
    }

    .wrong-answers {
        padding: 2px 15px;

    }

    .no-answers {
        padding: 2px 15px;

    }
}