.search-container {
    position: fixed;
    bottom: 0;
    width: 370px;
}

.search-container_input {
    height: calc(var(--height-button) + 10px);
    width: 100%;
    margin-bottom: 20px;
    color: black;
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: var(--border-radius-button);
    padding-right:  10px;
    font-size: 16px;
    border: 2px solid rgb(230, 230, 230);
    outline: none;
    transition: background-color 0.3s ease-in-out;
  
    // &:focus {
    //   background-color: lighten(#f5f5f5, 10%);
    // }
  }