:root {
    --navbar-height: 3.5em;
    --main-blue: #2578F4;
    --border-radius-button: 10px;
    --height-button: 40px;
}

.main-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    height: calc(100% - var(--navbar-height));
}

html, body, #root {
    height: 100%;
}