@import url('./assets/fontawesome/css/all.min.css');

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(i) {
  font-family: 'Heebo' !important;
  box-sizing: border-box !important;

}


body {
  margin: 0;
}