@import url('./assets/fontawesome/css/all.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:not(i) {
  font-family: 'Heebo' !important;
}


body {
  margin: 0;
}