.page-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.main-subjects-container {
    display: grid;
    grid-template-columns: 1fr  1fr;
    gap: 10px;
}