.back {
    align-self: end;
    padding: 10px 10px;
    
}

.new-quiz-row-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.new-quiz-title {
    font-weight: 800;
    font-size: 1.8em;
    color: #454545;
    margin: 10px;
}

.new-quiz-row-title {
    font-size: 1.5em;    
}

.new-quiz-past-score-title {
    opacity: 0.4;
    margin-top: 10px;
}

.new-quiz-setting {
    margin: 30px 0;
    align-self: start;
    
    .new-quiz-setting-title {
        font-weight: 800;
    }
}